//
// Basics
//

hr {
    margin : 0 0 $d3 0;
}

p {
    margin : 0 0 $d3 0;
}

ul,
ol {
    margin : 0 0 $d3 $d8;
}

li > ul,
li > ol {
    margin-left : $d3;
}

dd {
    margin : 0 0 $d3;
}

blockquote {
    padding : 0 $d3;
}

address {
    margin : 0 0 $d3;
}

pre {
    margin-bottom : $d3;
    padding       : $d3;
}

table {
    margin : 0 0 $d3;
}

h1, h2, h3, h4 {
    margin : 0 0 $d1 0;
}

form {
    margin-bottom : $d5;
}

//
// Common, site wide.
//

// Woocommerce messages (info, warning, error)
.site-content > .col-full > .woocommerce > :first-child.woocommerce-error,
.site-content > .col-full > .woocommerce > :first-child.woocommerce-info,
.site-content > .col-full > .woocommerce > :first-child.woocommerce-message {
    margin-top    : 0.9em;
    margin-bottom : 1.5em;
}

// Width of content (including sidebar)
@media screen and (min-width : $min_width_for_desktop) {
    .col-full {
        max-width    : $content_width;
        margin-left  : auto;
        margin-right : auto;
    }
}

// Divider on search results page
.pbosfc_search_post_divider {
    margin-bottom : $d12;
}

